.main {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  /* padding: 6rem; */
  min-height: 100vh;
  background-image: url(https://www.solarsystemscope.com/textures/download/2k_stars_milky_way.jpg);
}
